@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Varela+Round&display=swap');

@import "tailwindcss";


:root {
  --background: #ffffff;
  
}

@theme inline {
  --font-plus-jakarta-sans: 'Plus Jakarta Sans', sans-serif;
  --font-varela-round: 'Varela Round', sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-varela-round);
}
